<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styling.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="books_container">
        <header class="main-books">
            <h5>Welcome, {{request.session.name}}!</h5>

            <a href="/logout">Logout</a>
        </header>
        <div class="main_books">
            <div>
            <form action="add_book" method="post">
                {% csrf_token %}
                <h5 class="add_book_header">Add a Book</h5>
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-3 col-form-label">Title</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Title" name="title"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDesc" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea name="desc" class="form-control" id="inputDesc" cols="30" rows="4"></textarea>
                    </div>
                </div>
                <input type="hidden" name="add" value="book">
                <div class="col-sm-4 add-button">
                    <button type="submit" class="btn btn-primary form-control" id="add-button">Add</button>
                </div>

            </form>
            <div class="errors">
                {% if messages %}
                <h5><strong>Errors:</strong></h5>
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
    
            </div>
            </div>
            <div class="datatable1">

                <h5 class="book_header">All Books</h5>

                {% for book in all_the_books %}
            
                <p class="book_title_home"><a href="/books/{{book.id}}">{{book.title}}</a></p>
                <p>(Added by {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}})</p>
                {% if this_user in book.liked_by.all %}
                <p style="color:green ;">favored by you</p>
                {% else %}
                <a style="color: red;" href="/books/add_to_fav/{{book.id}}">Add to Favorites</a>
                {% endif %}

                {% endfor %}

            </div>
         

        </div>
       
    </div>
</body>

</html>