<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <div style="margin: 0 auto ; width: 20%; margin-top: 130px; border: 1px solid black;">
        <h1 style="text-align: center ;">Counter</h1>
        <h2 style="text-align: center ;">{{session["count"]}} times</h2>
        <form action="count" style="margin: 0 auto ; width: 50%; display: flex; justify-content: center; gap: 5%;" method="post">
            <input type="submit" value="+2" name="add" style="width:47.5%; height: 60px; background-color: skyblue; border-radius: 50%; font-size: 1.2em;">
        </form>
        <form action="reset" style="margin: 0 auto ; width: 50%; display: flex; justify-content: center; gap: 5%;" method="post">
            <input type="submit" value="Reset" name="reset" style="width:47.5%; height: 60px; background-color: skyblue; border-radius: 50%; font-size: 1.2em;">
        </form>
    </div>
    
</body>
</html>