<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guessing game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleme.css' %}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div>
        <h1>Welcom to the great number game!</h1>
        <h2>I'm thinking of a number between 1 and 100</h2>
        <h2>Take a guess!</h2>
        <div class="input">
            <form action="/result" method="post" >
                {% csrf_token %}
                <input type="text" name="user_guess" class="inputbox">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</body>
</html>