#my-form{
    width: 60%;
    margin: 0 auto;
}
h2{
    text-align: center;
    background-color: rgb(34, 76, 153);
    font-family:sans-serif;
    color: white;
}


#inputname1, #inputname2, #inputage, #inputEmail4 {
    border: 2px solid black;
}

#add-button{
    background-color: rgb(34, 76, 153);
    border: 2px solid rgb(34, 76, 153);
}

#head{
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    
} 

.my-custom-scrollbar {
    position: relative;
    height: 250px;
    overflow: auto;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
    border-bottom: 4px solid rgb(34, 76, 153);
}
.table-wrapper-scroll-y {
    display: block;
}

body{
    height: 1000px;
}