<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read All</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2 id="head">All shows</h2>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-striped " id="shows-table">
                <thead id="table-head">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Network</th>
                        <th scope="col">Release date</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    {% for show in all_shows %}
                    <tr>
                        <td>{{show.id}}</td>
                        <td>{{show.title}}</td>
                        <td>{{show.network}}</td>
                        <td>{{show.release_date}}</td>
                        <td><a href="/shows/{{show.id}}">Show</a> | <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/delete">Delete</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/shows/new">Add a new show</a>
    </div>
</body>

</html>